<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <h3>Reset Password</h3>

    <div *ngIf="err != null" class="alert alert-danger mt-2">
      {{ err }}
    </div>

    <div *ngIf="msg != null" class="alert alert-success mt-2">
      {{ msg?.message }}
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>

    <button type="submit" class="btn btn-primary">
      Reset My Password
    </button>

  </form>
</div>
